USE master
GO
CREATE DATABASE [DBQuanLyCacDaiLy]
GO
USE [DBQuanLyCacDaiLy]
GO
/****** Object:  FullTextCatalog [daily_ctlg]    Script Date: 2021-06-16 11:18:19 ******/
CREATE FULLTEXT CATALOG [daily_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  FullTextCatalog [nguonnhap_ctlg]    Script Date: 2021-06-16 11:18:19 ******/
CREATE FULLTEXT CATALOG [nguonnhap_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  FullTextCatalog [sanpham_ctlg]    Script Date: 2021-06-16 11:18:19 ******/
CREATE FULLTEXT CATALOG [sanpham_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[BangBaoCaoThang]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangBaoCaoThang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NULL,
 CONSTRAINT [PK_BANGBAOCAOTHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoCongNo]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongNo](
	[ID] [int] NOT NULL,
	[NoDau] [decimal](18, 2) NOT NULL,
	[PhatSinh] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoDoanhSo]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoDoanhSo](
	[ID] [int] NOT NULL,
	[SoPhieuXuat] [int] NOT NULL,
	[TongTriGia] [decimal](18, 2) NOT NULL,
	[TyLe] [float] NOT NULL,
 CONSTRAINT [PK_BAOCAODOANHSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaoCao]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCao](
	[IDDaiLy] [int] NOT NULL,
	[IDBaoCao] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_CHITIETBAOCAO] PRIMARY KEY CLUSTERED 
(
	[IDDaiLy] ASC,
	[IDBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuatHang]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuatHang](
	[IDSanPham] [int] NOT NULL,
	[IDPhieuXuatHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[IDSanPham] ASC,
	[IDPhieuXuatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaiLy]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaiLy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[NgayTiepNhan] [date] NOT NULL,
	[Quan] [nvarchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[LoaiDaiLy] [int] NOT NULL,
	[IsRemove] [bit] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPham]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPham] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDaiLy]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDaiLy](
	[MaLoai] [int] NOT NULL,
	[SoTienNoToiDa] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[HinhAnh] [varchar](max) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonNhap]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_NGUONNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDaiLy]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDaiLy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapPhieu] [date] NOT NULL,
	[IDDaiLy] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUDAILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[ID] [int] NOT NULL,
	[SoTienThu] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatHang]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatHang](
	[ID] [int] NOT NULL,
	[DonViTinh] [varchar](10) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQuyDinh] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyDinh] [varchar](100) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[KieuDuLieu] [varchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 2021-06-16 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDLoaiSanPham] [int] NOT NULL,
	[IDNguonNhap] [int] NOT NULL,
	[HinhAnh] [varchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangBaoCaoThang] ON 

INSERT [dbo].[BangBaoCaoThang] ([ID], [Thang], [Nam]) VALUES (1, 12, 2020)
SET IDENTITY_INSERT [dbo].[BangBaoCaoThang] OFF
GO
INSERT [dbo].[BaoCaoCongNo] ([ID], [NoDau], [PhatSinh]) VALUES (1, CAST(54590000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[BaoCaoDoanhSo] ([ID], [SoPhieuXuat], [TongTriGia], [TyLe]) VALUES (1, 5, CAST(100000000.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[ChiTietBaoCao] ([IDDaiLy], [IDBaoCao], [NgayTao]) VALUES (1, 1, CAST(N'2020-12-31' AS Date))
GO
INSERT [dbo].[ChiTietPhieuXuatHang] ([IDSanPham], [IDPhieuXuatHang], [SoLuong], [GiaBan]) VALUES (1, 2, 1, CAST(29000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuXuatHang] ([IDSanPham], [IDPhieuXuatHang], [SoLuong], [GiaBan]) VALUES (12, 2, 1, CAST(25590000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DaiLy] ON 

INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove], [HinhAnh]) VALUES (1, N'Đại lý gia đình Trịnh Trần Phương Tuấn', N'0967794391

', N'Gian hàng L5-15, TTTM Saigon Centre, 92-94 Nam Kỳ Khởi Nghĩa, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh', CAST(N'2020-01-01' AS Date), N'1', N'Jack97Liam@gmail.com', 1, 0, N'Images/DaiLy/1.png')
INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove], [HinhAnh]) VALUES (2, N'Đại lý gia đình Phạm Trưởng', N'0933383055', N'33/1A, Nguyễn Đình Chính, Phường 15, Quận Phú Nhuận, Thành Phố Hồ Chí Minh, Phường 15, Phú Nhuận, Thành phố Hồ Chí Minh', CAST(N'2021-01-01' AS Date), N'Phú Nhuận', N'phamtruong@ptmusic.info', 2, 0, N'Images/DaiLy/2.png')
INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove], [HinhAnh]) VALUES (3, N'Võ Vũ Trường Giang', N'0901202727', N'27 Trần Quốc Thảo, Phường 6, Quận 3, Thành phố Hồ Chí Minh', CAST(N'2020-10-10' AS Date), N'3', N'quangvuatz@gmail.com', 1, 0, N'Images/DaiLy/3.png')
SET IDENTITY_INSERT [dbo].[DaiLy] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhAnhSanPham] ON 

INSERT [dbo].[HinhAnhSanPham] ([ID], [IDSanPham], [HinhAnh]) VALUES (1, 1, N'Images/Product/1.1.png')
INSERT [dbo].[HinhAnhSanPham] ([ID], [IDSanPham], [HinhAnh]) VALUES (2, 1, N'Images/Product/1.2.png')
INSERT [dbo].[HinhAnhSanPham] ([ID], [IDSanPham], [HinhAnh]) VALUES (3, 1, N'Images/Product/1.3.png')
SET IDENTITY_INSERT [dbo].[HinhAnhSanPham] OFF
GO
INSERT [dbo].[LoaiDaiLy] ([MaLoai], [SoTienNoToiDa]) VALUES (1, CAST(300000000.00 AS Decimal(18, 2)))
INSERT [dbo].[LoaiDaiLy] ([MaLoai], [SoTienNoToiDa]) VALUES (2, CAST(500000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([ID], [Ten], [HinhAnh]) VALUES (1, N'Dell', N'Images/Category/dell.png')
INSERT [dbo].[LoaiSanPham] ([ID], [Ten], [HinhAnh]) VALUES (2, N'Asus', N'Images/Category/asus.png')
INSERT [dbo].[LoaiSanPham] ([ID], [Ten], [HinhAnh]) VALUES (3, N'HP', N'Images/Category/hp.png')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[NguonNhap] ON 

INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai], [HinhAnh]) VALUES (1, N'Trương Vô Kỵ', N'Núi Võ Đang', N'0909909090', N'Images/ImportSource/tvky.png')
INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai], [HinhAnh]) VALUES (2, N'Quách Tĩnh', N'Đào Hoa Đảo', N'0909808090', N'Images/ImportSource/qtinh.png')
INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai], [HinhAnh]) VALUES (3, N'Hoàng Dung', N'Đào Hoa Đảo', N'0909708090', N'Images/ImportSource/hdung.png')
SET IDENTITY_INSERT [dbo].[NguonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDaiLy] ON 

INSERT [dbo].[PhieuDaiLy] ([ID], [NgayLapPhieu], [IDDaiLy]) VALUES (1, CAST(N'2021-01-01' AS Date), 1)
INSERT [dbo].[PhieuDaiLy] ([ID], [NgayLapPhieu], [IDDaiLy]) VALUES (2, CAST(N'2020-12-31' AS Date), 8)
SET IDENTITY_INSERT [dbo].[PhieuDaiLy] OFF
GO
INSERT [dbo].[PhieuThuTien] ([ID], [SoTienThu]) VALUES (1, CAST(100000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhieuXuatHang] ([ID], [DonViTinh], [TongTien]) VALUES (2, N'VND', CAST(54590000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[QuyDinh] ON 

INSERT [dbo].[QuyDinh] ([MaQuyDinh], [TenQuyDinh], [GiaTri], [KieuDuLieu], [TrangThai]) VALUES (1, N'S? lu?ng lo?i d?i lý', 2, N'integer', 1)
INSERT [dbo].[QuyDinh] ([MaQuyDinh], [TenQuyDinh], [GiaTri], [KieuDuLieu], [TrangThai]) VALUES (2, N'S? lu?ng d?i lý t?i da trong m?t qu?n', 4, N'integer', 1)
SET IDENTITY_INSERT [dbo].[QuyDinh] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[BaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [BaoCaoCongNo_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoCongNo] CHECK CONSTRAINT [BaoCaoCongNo_fk0]
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo]  WITH CHECK ADD  CONSTRAINT [BaoCaoDoanhSo_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo] CHECK CONSTRAINT [BaoCaoDoanhSo_fk0]
GO
ALTER TABLE [dbo].[ChiTietBaoCao]  WITH CHECK ADD  CONSTRAINT [ChiTietBaoCao_fk0] FOREIGN KEY([IDDaiLy])
REFERENCES [dbo].[DaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBaoCao] CHECK CONSTRAINT [ChiTietBaoCao_fk0]
GO
ALTER TABLE [dbo].[ChiTietBaoCao]  WITH CHECK ADD  CONSTRAINT [ChiTietBaoCao_fk1] FOREIGN KEY([IDBaoCao])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBaoCao] CHECK CONSTRAINT [ChiTietBaoCao_fk1]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [ChiTietPhieuXuatHang_fk0] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang] CHECK CONSTRAINT [ChiTietPhieuXuatHang_fk0]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [ChiTietPhieuXuatHang_fk1] FOREIGN KEY([IDPhieuXuatHang])
REFERENCES [dbo].[PhieuXuatHang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang] CHECK CONSTRAINT [ChiTietPhieuXuatHang_fk1]
GO
ALTER TABLE [dbo].[DaiLy]  WITH CHECK ADD  CONSTRAINT [DaiLy_fk0] FOREIGN KEY([LoaiDaiLy])
REFERENCES [dbo].[LoaiDaiLy] ([MaLoai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DaiLy] CHECK CONSTRAINT [DaiLy_fk0]
GO
ALTER TABLE [dbo].[HinhAnhSanPham]  WITH CHECK ADD  CONSTRAINT [HinhAnhSanPham_fk0] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhSanPham] CHECK CONSTRAINT [HinhAnhSanPham_fk0]
GO
ALTER TABLE [dbo].[PhieuDaiLy]  WITH CHECK ADD  CONSTRAINT [PhieuDaiLy_fk0] FOREIGN KEY([IDDaiLy])
REFERENCES [dbo].[DaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuDaiLy] CHECK CONSTRAINT [PhieuDaiLy_fk0]
GO
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [PhieuThuTien_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[PhieuDaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [PhieuThuTien_fk0]
GO
ALTER TABLE [dbo].[PhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [PhieuXuatHang_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[PhieuDaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuatHang] CHECK CONSTRAINT [PhieuXuatHang_fk0]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [SanPham_fk0] FOREIGN KEY([IDLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [SanPham_fk0]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [SanPham_fk1] FOREIGN KEY([IDNguonNhap])
REFERENCES [dbo].[NguonNhap] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [SanPham_fk1]
GO
