USE [master]
GO
/****** Object:  Database [DBQuanLyCacDaiLy]    Script Date: 6/10/2021 11:12:01 PM ******/
CREATE DATABASE [DBQuanLyCacDaiLy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQuanLyCacDaiLy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANTHAT\MSSQL\DATA\DBQuanLyCacDaiLy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQuanLyCacDaiLy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANTHAT\MSSQL\DATA\DBQuanLyCacDaiLy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQuanLyCacDaiLy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQuanLyCacDaiLy]
GO
/****** Object:  Table [dbo].[BangBaoCaoThang]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangBaoCaoThang](
	[ID] [int] NOT NULL,
	[Thang] [int] NOT NULL,
 CONSTRAINT [PK_BANGBAOCAOTHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoCongNo]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongNo](
	[ID] [int] NOT NULL,
	[NoDau] [decimal](18, 0) NOT NULL,
	[PhatSinh] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_BAOCAOCONGNO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoDoanhSo]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoDoanhSo](
	[ID] [int] NOT NULL,
	[SoPhieuXuat] [int] NOT NULL,
	[TongTriGia] [decimal](18, 0) NOT NULL,
	[TyLe] [float] NOT NULL,
 CONSTRAINT [PK_BAOCAODOANHSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaoCao]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCao](
	[IDDaiLy] [int] NOT NULL,
	[IDBaoCao] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_CHITIETBAOCAO] PRIMARY KEY CLUSTERED 
(
	[IDDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuatHang]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuatHang](
	[IDSanPham] [int] NOT NULL,
	[IDPhieuXuatHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaiLy]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaiLy](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[NgayTiepNhan] [date] NOT NULL,
	[Quan] [nvarchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[LoaiDaiLy] [int] NOT NULL,
	[IsRemove] [bit] NOT NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDaiLy]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDaiLy](
	[MaLoai] [int] NOT NULL,
	[SoTienNoToiDa] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_LOAIDAILY] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonNhap]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonNhap](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NGUONNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDaiLy]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDaiLy](
	[ID] [int] NOT NULL,
	[NgayLapPhieu] [date] NOT NULL,
	[IDDaiLy] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUDAILY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[ID] [int] NOT NULL,
	[SoTienThu] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatHang]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatHang](
	[ID] [int] NOT NULL,
	[DonViTinh] [varchar](10) NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PHIEUXUATHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQuyDinh] [int] NOT NULL,
	[TenQuyDinh] [nvarchar](100) NULL,
	[GiaTri] [int] NOT NULL,
	[KieuDuLieu] [varchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/10/2021 11:12:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDLoaiSanPham] [int] NOT NULL,
	[IDNguonNhap] [int] NOT NULL,
	[HinhAnh] [varchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove]) VALUES (1, N'Trịnh Trần Phương Tuấn', N'0967794391

', N'Gian hàng L5-15, TTTM Saigon Centre, 92-94 Nam Kỳ Khởi Nghĩa, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh', CAST(N'2020-01-01' AS Date), N'1', N'Jack97Liam@gmail.com', 1, 0)
INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove]) VALUES (2, N'Phạm Trưởng', N'0933383055', N'33/1A, Nguyễn Đình Chính, Phường 15, Quận Phú Nhuận, Thành Phố Hồ Chí Minh, Phường 15, Phú Nhuận, Thành phố Hồ Chí Minh', CAST(N'2021-01-01' AS Date), N'Phú Nhuận', N'phamtruong@ptmusic.info', 2, 0)
INSERT [dbo].[DaiLy] ([ID], [Ten], [DienThoai], [DiaChi], [NgayTiepNhan], [Quan], [Email], [LoaiDaiLy], [IsRemove]) VALUES (3, N'Võ Vũ Trường Giang', N'0901202727', N'27 Trần Quốc Thảo, Phường 6, Quận 3, Thành phố Hồ Chí Minh', CAST(N'2020-10-10' AS Date), N'3', N'quangvuatz@gmail.com', 1, 0)
GO
INSERT [dbo].[LoaiDaiLy] ([MaLoai], [SoTienNoToiDa]) VALUES (1, CAST(300000000 AS Decimal(18, 0)))
INSERT [dbo].[LoaiDaiLy] ([MaLoai], [SoTienNoToiDa]) VALUES (2, CAST(500000000 AS Decimal(18, 0)))
GO
INSERT [dbo].[LoaiSanPham] ([ID], [Ten]) VALUES (1, N'Dell')
INSERT [dbo].[LoaiSanPham] ([ID], [Ten]) VALUES (2, N'Asus')
INSERT [dbo].[LoaiSanPham] ([ID], [Ten]) VALUES (3, N'HP')
GO
INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai]) VALUES (1, N'Trương Vô Kỵ', N'Núi Võ Đang', N'0909909090')
INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai]) VALUES (2, N'Quách Tĩnh', N'Đào Hoa Đảo', N'0909808090')
INSERT [dbo].[NguonNhap] ([ID], [Ten], [DiaChi], [SoDienThoai]) VALUES (3, N'Hoàng Dung', N'Đào Hoa Đảo', N'0909708090')
GO
INSERT [dbo].[QuyDinh] ([MaQuyDinh], [TenQuyDinh], [GiaTri], [KieuDuLieu], [TrangThai]) VALUES (1, N'Số lượng loại đại lý', 2, N'integer', 1)
INSERT [dbo].[QuyDinh] ([MaQuyDinh], [TenQuyDinh], [GiaTri], [KieuDuLieu], [TrangThai]) VALUES (2, N'Số lượng đại lý tối đa trong một quận', 4, N'integer', 1)
GO
ALTER TABLE [dbo].[BaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [BaoCaoCongNo_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoCongNo] CHECK CONSTRAINT [BaoCaoCongNo_fk0]
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo]  WITH CHECK ADD  CONSTRAINT [BaoCaoDoanhSo_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo] CHECK CONSTRAINT [BaoCaoDoanhSo_fk0]
GO
ALTER TABLE [dbo].[ChiTietBaoCao]  WITH CHECK ADD  CONSTRAINT [ChiTietBaoCao_fk0] FOREIGN KEY([IDDaiLy])
REFERENCES [dbo].[DaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBaoCao] CHECK CONSTRAINT [ChiTietBaoCao_fk0]
GO
ALTER TABLE [dbo].[ChiTietBaoCao]  WITH CHECK ADD  CONSTRAINT [ChiTietBaoCao_fk1] FOREIGN KEY([IDBaoCao])
REFERENCES [dbo].[BangBaoCaoThang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBaoCao] CHECK CONSTRAINT [ChiTietBaoCao_fk1]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [ChiTietPhieuXuatHang_fk0] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang] CHECK CONSTRAINT [ChiTietPhieuXuatHang_fk0]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [ChiTietPhieuXuatHang_fk1] FOREIGN KEY([IDPhieuXuatHang])
REFERENCES [dbo].[PhieuXuatHang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatHang] CHECK CONSTRAINT [ChiTietPhieuXuatHang_fk1]
GO
ALTER TABLE [dbo].[DaiLy]  WITH CHECK ADD  CONSTRAINT [DaiLy_fk0] FOREIGN KEY([LoaiDaiLy])
REFERENCES [dbo].[LoaiDaiLy] ([MaLoai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DaiLy] CHECK CONSTRAINT [DaiLy_fk0]
GO
ALTER TABLE [dbo].[PhieuDaiLy]  WITH CHECK ADD  CONSTRAINT [PhieuDaiLy_fk0] FOREIGN KEY([IDDaiLy])
REFERENCES [dbo].[DaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuDaiLy] CHECK CONSTRAINT [PhieuDaiLy_fk0]
GO
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [PhieuThuTien_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[PhieuDaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [PhieuThuTien_fk0]
GO
ALTER TABLE [dbo].[PhieuXuatHang]  WITH CHECK ADD  CONSTRAINT [PhieuXuatHang_fk0] FOREIGN KEY([ID])
REFERENCES [dbo].[PhieuDaiLy] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuatHang] CHECK CONSTRAINT [PhieuXuatHang_fk0]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [SanPham_fk0] FOREIGN KEY([IDLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [SanPham_fk0]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [SanPham_fk1] FOREIGN KEY([IDNguonNhap])
REFERENCES [dbo].[NguonNhap] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [SanPham_fk1]
GO
USE [master]
GO
