<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DBQuanLyCacDaiLyEntities" connectionString="metadata=res://*/Model.DBQuanLyCacDaiLy.csdl|res://*/Model.DBQuanLyCacDaiLy.ssdl|res://*/Model.DBQuanLyCacDaiLy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBQuanLyCacDaiLy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>